@import url("whitespace-reset.css");

body {
  width: 100%;
  font: normal 16px Helvetica, Arial, sans-serif;
}

header {
  height: 546px;
  background: #3d3d3d;
  color: #ffffff;
}

header h1 {
  font-size: 52px;
  text-align: center;
  margin: 0 auto;
  padding: 145px 0 56px 0;
  text-transform: uppercase;
}

main {
  background: #ffffff;
}

header li {
  display: inline;
}