@import url("whitespace-reset.css");

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  color: #45494d;
}

header {
  padding: 130px 0 0 0;
  background: #3d3d3d;
  color: #ffffff;
  box-sizing: border-box;
}

header h1 {
  margin: 0 0 119px 0;
  padding: 0 0 126px 0;
  text-align: center;
  font: normal 68px Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  background: transparent url("logo.png") 50% 100% no-repeat;
}

header h1 a {
  color: #ffffff;
  text-decoration: none;
}

main {
  background: #ffffff;
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 0 90px 0;
  overflow: hidden;
}

footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0 30px 0;
  overflow: hidden;
  border-top: solid 1px #d0d0d0;
}

p {
  line-height: 150%;
  padding: 15px 0 0 0;
}

footer p {
  font-size: 12px;
  color: #7e8287;
}

a {
  text-decoration: none;
  color: #50c3af;
}

h2 {
  font-size: 36px;
  padding: 0 0 5px 0;
}

h2 a {
  color: #45494d;
}
h2 a:hover {
  color: #50c3af;
}
.comments h3 {
  display: block;
  padding: 15px 0 10px 0;
}
h3 a {
  text-transform: uppercase;
}
.comments article {
  padding: 0 0 30px 0;
  margin: 0;
}
article {
  padding: 0 0 80px 0;
}
article p {
  font-size: 20px;
}

nav {
  text-align: center;
  padding: 0 0 50px 0;
}
nav li {
  display: inline;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 25.5px;
}
nav li a {
  color: #ffffff;
}
nav li a:hover {
  color: #f5dc39;
}
.active {
  color: #50c3af;
}

#content {
  float: left;
  width: 65%;
  padding: 0 11.5% 0 0;
  overflow: hidden;
}

#pagination {
}

#pagination li {
  display: inline-block;
  padding: 5px 25px;
  margin: 0 26px 0 0;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
  background: #50c3af;
}

#pagination li a {
  color: #ffffff;
}

#pagination #disabled {
  background-color: #d2d5da;
}

#sidebar {
  padding: 35px;
  background: #f6f7f8;
  overflow: hidden;
}

#sidebar ul {
  padding: 21px 0;
}

#sidebar li {
  margin: 0 0 0 20px;
  padding: 3px 0 0 0;
  list-style: url("blt_ul.png");
}

#sidebar li a {
  font-size: 14px;
  color: #787b80;
}
#sidebar li a:hover {
  color: #50c3af;
}

#sidebar p {
  padding: 25px 0 0 0;
  font-size: 14px;
  color: #787b80;
}

#sidebar h3 {
  text-transform: uppercase;
}
#sidebar h3 ~ h3 {
  padding: 88px 0 0 0;
}

label {
  display: inline-block;
  background: #50c3af;
  padding: 5px 25px;
  margin: 15px 0 25px 0;
  border-radius: 20px;
  font-size: 14px;
  color: #ffffff;
}
input[type="checkbox"] {
  display: none;
}
dl {
  width: 100%;
  margin: 0;
  padding: 0;
}
dt label {
  font-size: 20px;
  font-weight: bold;
  margin: 8px 0;
  padding: 0;
  background: #ffffff;
  color: #45494d;
}
dd {
}

form {
  position: relative;
  height: 0;
  left: -100%;
  transition: left 200ms linear;
}
input {
  display: block;
}
#toggle_form:checked + form {
  height: auto;
  left: 0;
}

